@tailwind base;
@tailwind components;
@tailwind utilities;

/* Balikin style default yg direset Tailwind */
@layer base {
    * {
    border-color: #e5e7eb; /* gray-200 */
  }
  
  button {
    cursor: pointer;
  }
  
  a {
    color: #2563eb; /* blue-600 */
    text-decoration: inherit;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: revert;
    font-weight: revert;
  }
  
  body {
    @apply bg-white text-gray-900 antialiased;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}
